<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Frame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Frame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Frame.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>525, 350</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
            <setting name="ReplaceImageOnDrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFullZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitChannelsBorder" serializeAs="String">
                <value>False</value>
            </setting>
        </Frame.Properties.Settings>
        <ImageViewer.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>525, 350</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
            <setting name="ControlsVisible" serializeAs="String">
                <value>True</value>
            </setting>
        </ImageViewer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Frame.Properties.Settings>
            <setting name="SupportedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bmp</string>
                        <string>gif</string>
                        <string>ico</string>
                        <string>jpg</string>
                        <string>png</string>
                        <string>wdp</string>
                        <string>tiff</string>
                        <string>tif</string>
                        <string>tga</string>
                        <string>dds</string>
                        <string>hdr</string>
                        <string>exr</string>
                        <string>xpm</string>
                        <string>xbm</string>
                        <string>psd</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Frame.Properties.Settings>
        <ImageViewer.Properties.Settings>
            <setting name="SupportedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>bmp</string>
                        <string>gif</string>
                        <string>ico</string>
                        <string>jpg</string>
                        <string>png</string>
                        <string>wdp</string>
                        <string>tiff</string>
                        <string>tif</string>
                        <string>tga</string>
                        <string>dds</string>
                        <string>hdr</string>
                        <string>exr</string>
                        <string>xpm</string>
                        <string>xbm</string>
                        <string>psd</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ImageViewer.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
