<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.9" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.4.6" targetFramework="net461" />
  <package id="Scripty.MsBuild" version="0.7.4" targetFramework="net461" developmentDependency="true" />
</packages>