<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CyotekImageBox" version="1.2.1" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.7.700" targetFramework="net461" />
</packages>